table {
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
}

th {
    border: 1px solid;
    border-color: black;
    padding: 5px;
}

th.columm-header {
    color: #008080;
    border: 1px solid #008080;
    width: 100px;
}

tr.title-tablepetcase {
    color: #008080;
    border: 1px solid #008080;

}

tbody.body-table {
    color: #008080;
    border: 1px solid #008080;

}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

tbody.body-table {
    color: #008080;
    border: 1px solid #008080;

}


input#Microchipnew-button {

    position: absolute;


}

.title {

    color: #008080;
    border: 1px solid #008080;
}

.title-tablepetcase {
    color: #008080;
    border: 1px solid #008080;

}

div#editpet {
    position: absolute;
    left: 20px;
    z-index: 999;
    padding: 10px;
    display: none;
    border: 1px solid black;
    background-color: white;


}

div#createpetcase-div {
    position: absolute;
    left: 20px;
    z-index: 999;
    padding: 10px;
    display: none;
    border: 1px solid black;
    background-color: white;


}

div#createpet {
    position: absolute;
    left: 20px;
    z-index: 999;
    padding: 10px;
    display: none;
    border: 1px solid black;
    background-color: white;


}


div#owneredit-div {
    position: absolute;
    left: 20px;
    z-index: 999;
    padding: 10px;
    display: none;
    border: 1px solid black;
    background-color: white;


}

select#formedit-select {
    border-radius: 40px;
    background-color: black;
}


input#Esterilizacionnew-button {
    position: absolute;
    left: 150px;
}

input#Signoff-button {
    position: absolute;
    top: 10px;
    left: 400px;
}

img {
    width: 100px;
    height: 100px;
}